{% extends 'base.html' %}

{% block title %}
Tracker
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if not show_my_tasks %}
        <p>You have no tasks</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for tasks in show_my_tasks %}
                <tr>
                    <td>{{ tasks.name }}</td>
                    <td>{{ tasks.start_date }}</td>
                    <td>{{ tasks.due_date }}</td>
                    <td>{{ tasks.is_completed|yesno:"Done," }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
