{% extends 'base.html' %}

{% block title %}
Tracker
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>{{ project_object.name }}</h1>
        <p>{{project_object.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if not project_object.tasks.all %}
        <p>This project has no tasks</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for projects in project_object.tasks.all %}
                <tr>
                    <td>{{ projects.name }}</td>
                    <td>{{ projects.assignee }}</td>
                    <td>{{ projects.start_date }}</td>
                    <td>{{ projects.due_date }}</td>
                    <td>{{ projects.is_completed|yesno:"yes,no" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
